@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
background-color: grey;
}
#main{
    height: 100%;
    /* width: 100%; */
    margin: 0px 60px;
    background-color: #000;
}
#nav{
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    height: 65px;
    margin-top: 10px;
}

#nav2{
    display: flex;
    gap: 50px;
}
#nav3{
    display: flex;
    gap: 40px;
    margin-right: 50px;
    align-items: center;
}
#nav2 h3{
    text-transform: uppercase;
}
#nav h3{
    text-transform: uppercase;
}
#nav button{
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

#main2 h1{
    font-size: 110px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
#main2 h1 span{
    font-size: 25px;
    background-color: brown;
    padding: 20px 40px;
    border-radius: 40px;
    margin: 0px 40px;
}
#main2 #left-img{
 height: 300px;
 position: absolute;
 left: 7%;
 top: 14%;
 border-radius: 15px;

}
#main2 #right-img{
    position: absolute;
   width: 250px;
   height: 150px;
   border-radius: 15%;
   right: 7%;
   bottom: 15%;
}
#main2 h5{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
}